includes:
	- services.php
parameters:
	cache:
		path: '%constants.tempDir%cache.db'
		journal: '%constants.tempDir%journal.db'
extensions:
	cache: Lsr\Caching\DI\CacheExtension
services:
cache:
	cacheDir: %constants.tempDir%